.nav-categories {
  width: 100%;
  height: auto;
  padding: 0 16px;
}

.nav-categories__list {
  flex-wrap: wrap;
}

@media only screen and (max-width : 480px) {
  .nav-categories__list {
    padding: 0;
    justify-content: flex-start;
  }
}
